language: java

jdk:
  - openjdk14
  
sudo: false

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    recipients:
      - ifs3112@gmail.com
    on_success: never # default: change
    on_failure: always # default: always
    
    env:
    global:
    - CODECOV_TOKEN="12dfc3c9-e719-45ef-95fe-c3b9122e91da"
